@import "colors.css";

* {
	all: unset;
	/* font-family: 'Radio Canada Big', sans-serif; */
	font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
	font-weight: bold;
	font-size: 16px;
	/* border-radius: 30px; */
	border-radius: 7px;
}

tooltip {
	background-color: @background;
	color: @fg;
	padding: 20px;
	border-radius: 7px;
	border: 2px solid @background;
}

#waybar {
	background: transparent;
	margin-left: 0px;
}

#workspaces {
	padding: 0;
	background: @background;
}

#workspaces button {
	padding: 2px 10px 2px 10px;
	color: @on_surface;
}

#workspaces button:hover {
	background: @on_tertiary_container;
	color: @tertiary_container;
}

#workspaces button.empty {
	color: @surface_variant;
}

#workspaces button.active {
	background: @tertiary;
	color: @background;
}

#workspaces button.focused {
	background: @tertiary;
}

#workspaces button.urgent {
	background: @error;
	color: @on_error;
}

#window {
	background-color: @background;
	color: @tertiary;
	padding: 0 7px 0 7px;
}

window#waybar.empty #window {
	background-color: transparent;
}


#mpd,
#idle_inhibitor,
#pulseaudio,
#wireplumber,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#bluetooth,
#tray,
#clock {
	background-color: @primary;
	color: @on_primary;
	padding: 0 15px 0 15px;
	/* top, right, bottom, left */
}

#clock,
#battery {
	background-color: @secondary;
	color: @on_secondary;
}
