/* Backgrounds & Neutrals */
@define-color bg0 #1a1110;
/* Deepest background (corners) */
@define-color bg0-soft #261a18;
/* Main UI background */
@define-color bg3 #4a3834;
/* Selection/Surface background */
@define-color fg0 #f2e9e1;
/* Primary text (brightest highlights) */
@define-color fg1 #d6c5b8;
/* Secondary text */
@define-color gray #8c7a74;
/* Muted stone/surface tone */

/* Accent Colors */
@define-color red-dark #8d201f;
@define-color red-light #b23a39;

@define-color orange-dark #b34e23;
@define-color orange-light #e08e53;

@define-color yellow-dark #c8821f;
@define-color yellow-light #f0c475;

@define-color blue-dark #1b3152;
@define-color blue-light #4c7ea3;

@define-color brown-dark #3d2b24;
@define-color brown-light #6e5449;

* {
	all: unset;
	/* font-family: 'Radio Canada Big', sans-serif; */
	font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
	font-weight: bold;
	font-size: 16px;
	/* border-radius: 30px; */
	border-radius: 7px;
}

tooltip {
	background-color: @brown-dark;
	color: @fg;
	padding: 20px;
	border-radius: 7px;
	border: 2px solid @yellow-light;
}

#waybar {
	background: transparent;
	margin-left: 0px;
}


#workspaces {
	padding: 0;
	background: @brown-dark;
}

#workspaces button {
	padding: 2px 10px 2px 10px;
	color: @fg0;
}

#workspaces button:hover {
	background: @bg0;
	color: @fg0;
}

#workspaces button.empty {
	color: @gray;
}

#workspaces button.active {
	background: @red-light;
}

#workspaces button.focused {
	background: @red-light;
}

#workspaces button.urgent {
	background: @yellow-light;
	color: @red-dark;
}

#window {
	background-color: @bg0;
	color: @orange-light;
	padding: 0 7px 0 7px;
}

window#waybar.empty #window {
	background-color: transparent;
}

#mpd,
#idle_inhibitor,
#pulseaudio,
#wireplumber,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#bluetooth,
#tray,
#clock {
	background-color: @orange-light;
	color: @bg0;
	padding: 0 15px 0 15px;
	/* top, right, bottom, left */
}

#clock,
#battery {
	background-color: @blue-light;
	color: @blue-dark;
}
