@define-color bg_dim          #1E2326;
@define-color bg0             #272E33;
@define-color bg1             #2E3C3C;
@define-color bg2             #374145;
@define-color bg3             #414B50;
@define-color bg4             #495156;
@define-color bg5             #4F5B58;

@define-color bg_red          #493B40;
@define-color bg_yellow       #45443C;
@define-color bg_green        #3C4841;
@define-color bg_blue         #384B55;
@define-color bg_purple       #463F48;
@define-color bg_visual       #4C3743;
@define-color fg              #D3C6AA;

@define-color red             #E67E80;
@define-color yellow          #DBBC7F;
@define-color green           #A7C080;
@define-color blue            #7FBBBB;
@define-color purple          #D699B6;
@define-color aqua            #83C092;
@define-color orange          #E69875;

@define-color grey0           #7A8478;
@define-color grey1           #859289;
@define-color grey2           #9DA9A0;
@define-color statusline1     #A7C080;
@define-color statusline2     #D3C6AA;
@define-color statusline3     #E67E80;
 
* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font;
    font-size: 14px;
    min-height: 0;
}

#waybar {
	background: transparent;
	margin: 0px 20px;
	margin-top: 10px;
}


#workspaces {
  font-weight: Bold;
  margin-top: 10px;
  margin-right: 10px;
  padding-right: 3.5px;
}

#workspaces :nth-child(5) {
  margin-right: 0px;
}

#workspaces button {
  background: @bg_green;
  color: @statusine;
  padding: 5px 10px;
}

#workspaces button:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#workspaces button:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#workspaces button.active {
  background: @green;
  color: @bg_dim;
}

#workspaces button.focused {
  background: @green;
  color: @bg_dim;
}

#workspaces button.urgent {
  background: @orange;
  color: @bg_red;
}

#workspaces button:hover {
  background: @bg_green;
  color: @statusline;
}


#window {
	background-color: @bg0;
	color: @green;
	padding: 5px 10px;
	margin-top: 10px;
}

#mpd, #idle_inhibitor, #pulseaudio, #network, #cpu, #memory, #temperature, #backlight, #battery, #tray, #clock {
	background-color: @green;
	color: @bg_dim;
	padding: 15px 10px;
	margin-top: 10px;
}

#clock {
	border-radius: 10px;
}

#idle_inhibitor {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#battery {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#window, #mpd {
	border-radius: 10px;
}


