return {
    background = "{{colors.background.default.hex}}",
    primary = "{{colors.primary.default.hex}}",
    secondary = "{{colors.secondary.default.hex}}",
    tertiary = "{{colors.tertiary.default.hex}}",
}
